body {
    background-color: #80d4ff;
}

.orderitem {
    margin: 20px;
    padding: 15px;
    border: 1px solid #bbb;
    background-color: #0066cc;
    border-radius: 5px;
    display: inline-block;
    width: 300px;
}

.orderitem span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.orderitem-table {
    font-size: 40px;
    text-align: center;
}

.orderitem-waitingtime {
    background-color: yellow;
}