.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body, html {
  margin: 0;
  padding: 0;
}

button {
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}

item {
  color: red;
}